In [1]:
import pandas as pd
import numpy as np

In [5]:
my_series = pd.Series(
        [0, 1, 2, 3, 4], index=['day0', 'day0', 'day0', 'day2', 'day2'] 
)

my_series.index

Index(['day0', 'day0', 'day0', 'day2', 'day2'], dtype='object')

In [6]:
my_series["day0"]

day0    0
day0    1
day0    2
dtype: int64

In [7]:
my_series["day2"]

day2    3
day2    4
dtype: int64

In [9]:
my_series.reset_index()

  index  0
0  day0  0
1  day0  1
2  day0  2
3  day2  3
4  day2  4

In [10]:
my_series.reset_index(drop=True)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [12]:
my_series.reset_index(drop=True).loc[2:4]

2    2
3    3
dtype: int64

In [13]:
my_series.reset_index(drop=True).iloc[2:4]

2    2
3    3
dtype: int64