In [1]:
import pandas as pd
import numpy as np

In [2]:
my_series = pd.Series(
        [0, 1, 2, 3, 4], index=['day0', 'day1', 'day2', 'day3', 'day4'] 
)

my_series

day0    0
day1    1
day2    2
day3    3
day4    4
dtype: int64

In [3]:
my_series == 2

day0    False
day1    False
day2     True
day3    False
day4    False
dtype: bool

In [4]:
my_series != 2

day0     True
day1     True
day2    False
day3     True
day4     True
dtype: bool

In [5]:
my_series.loc[my_series != 2]

day0    0
day1    1
day3    3
day4    4
dtype: int64

In [6]:
my_series.loc[~(my_series != 2)]

day2    2
dtype: int64

In [8]:
my_series.loc[my_series.isin([1, 2])]

day1    1
day2    2
dtype: int64

In [9]:
my_series.loc[my_series.gt(2)]

day3    3
day4    4
dtype: int64

In [10]:
my_series.loc[my_series > 2]

day3    3
day4    4
dtype: int64

In [19]:
mask = (my_series.isin([1, 2])) | (my_series > 2)
                      
my_series.loc[mask]

day1    1
day2    2
day3    3
day4    4
dtype: int64