In [1]:
import pandas as pd
import numpy as np

In [3]:
string_series = pd.Series(['day 0', 'day 1', 'day 2', 'day 3', 'day 4'])

string_series

0    day 0
1    day 1
2    day 2
3    day 3
4    day 4
dtype: object

In [4]:
string_series.str.contains("1")

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [7]:
string_series.str.upper()

0    DAY 0
1    DAY 1
2    DAY 2
3    DAY 3
4    DAY 4
dtype: object

In [8]:
string_series.str.upper().str.contains("DAY 1")

0    False
1     True
2    False
3    False
4    False
dtype: bool

In [9]:
string_series.str.strip('day ')

0    0
1    1
2    2
3    3
4    4
dtype: object

In [13]:
string_series.str[-1].astype('int')

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [14]:
string_series.str[1:3]

0    ay
1    ay
2    ay
3    ay
4    ay
dtype: object

In [16]:
string_series.str.split(' ')

0    [day, 0]
1    [day, 1]
2    [day, 2]
3    [day, 3]
4    [day, 4]
dtype: object

In [17]:
string_series.str.split(' ' ,expand=True)

     0  1
0  day  0
1  day  1
2  day  2
3  day  3
4  day  4